.task__list {
  width: 100%;
  max-width: 650px;
  overflow-y: scroll;
  padding: 5px 12px 5px 12px;
  background-color: white;
  //box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: 10px;
}